@model WebApplication1.Models.KhachHang

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc chắn muốn xóa dữ liệu này?</h3>
<div>
    <h4>Khách Hàng</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenKhachHang)
            </th>
            <td>
                @Html.DisplayFor(model => model.TenKhachHang)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <td>
                @Html.DisplayFor(model => model.SoDienThoai)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmailKH)
            </th>
            <td>
                @Html.DisplayFor(model => model.EmailKH)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatKhau)
            </th>
            <td>
                @Html.DisplayFor(model => model.MatKhau)
            </td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại danh sách", "Index")
        </div>
    }
</div>
